body{
  /*padding: 10px;*/
  text-align: center;
  font-size: 12pt;
  margin: 10px;
} 

td{
 	padding: 0px;
 	margin: 10px;
 	border: 0px solid red;
}
table {
	/* set table size to make it as small
	as possible */
	width: 1%;
}

/* style for the table header */
.watchListHeader{
  background-color: rgb(153,255,153); /*green;*/
  color: rgb(0,102,0); /*white;*/
  font-style: bold;
  font-name: Times New Roman; /*?*/  
}

.watchListHeader td{
 	font-size: 14pt;
 	border: 1px solid rgb(0,102,0);
 	/*padding: 10px;*/
 	margin: 0px;
 	font-weight:bold;
}

/* style for the table content */
.watchList{
  border: 1px solid rgb(0,102,0);
  border-spacing: 0px;
  border-collapse: collapse;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.watchList td{
  padding: 6px;
  margin-top: 0px;
  white-space: nowrap;
  /*border: 0px solid yellow;*/
  font-family: Cambria,Tahoma,Comic Sans MS,Georgia,Verdana,Arial,Calibri,Sans-Serif;
}

/* style for the numeric columns */
.watchListNumericColumn{
  text-align: right;
  width: 8em;
}

/* style for the error message*/
.ErrorMsg{
	/* border: 1px solid blue; */
	color: red;
}

.noChange{
	color: black;
}

.negativeChange{
	color: green;
}

.positiveChange{
	color: red;
}

.alterRow{
	background-color: rgb(204,255,204); 
}

.usageLimitHigh{
	background-color: rgb(255,179,179);
	font-weight:bold;
}

.usageLimitLow{
	background-color: rgb(255,255,102);
	font-weight:normal;
}

/* style for the page refresh label */
.refreshLabel{
	 text-align: right;
	 font-size: 9pt;
	 color: green;
	 font-style: italic;
	 padding-bottom: 2px;
	 padding-top: 2px;
	 /* border: 1px solid red; */
}
